<%- include('partials/header') -%>
<div class="container-fluid bg-white headerGap user-member" style="padding: 0; height: 100%;">
  <div  id="topRow" class="row p-0 m-0  d-flex align-items-center justify-content-center" style="min-height: 500px; width: 100vw; height: 100%;">
    <div  id="pageLeft" class="col-md-6 mt-4 d-flex flex-column  align-items-center text-center" >
    <h1><%= bookclub.name %></h1>
    
    <img class="profPic mb-3" src='<%= bookclub.clubPic %>'>

        <ul id="">
            <li><%= bookclub.desc %></li>
            <% if (bookclub.discordURL) { %>
              <li class="m-2"><a  class="btnMain3" href="<%= bookclub.discordURL %>"> Visit our Discord <span class="fa-brands fa-discord"></span></a></li>
            <% } %>
             
            <li>
                <%= bookclub.members ? 'Members: ' : 'No members yet!' %>
                <% if (bookclub.members && bookclub.members.length > 0) { %>
                  <% for (let i = 0; i < bookclub.members.length; i++) { %>
                    <a href="<%= bookclub.members[i]._id === user._id ? '/profile' : '/profileView/' + bookclub.members[i]._id %>"><%= bookclub.members[i].name %></a>
                    <% if (i < bookclub.members.length - 1) { %>
                      ,
                    <% } %>
                   
                  <% } %>
                <% } %>
              </li>
              <% if (bookclub.pendingMembers && bookclub.pendingMembers.length > 0){%>
                <div class="m-3"><% if (user.bookClubs.includes(bookclub._id) && !bookclub.pendingMembers.includes(user._id)) { %>
                  <a  class="m-5 pendingButton btnMain2 " href='/bookclubPage/<%= bookclub._id%>/pendingMembers'>
                      Pending members!
                  </a>
                  <% } %>
              </div>
              <%} %>
            <li><%= bookclub.mod ? bookclub.mod.name + ' is a mod' : 'No mod assigned' %></li>
            <li> <% if (bookclub.created_at) { %>
                <% const createdAt = new Date(bookclub.created_at); %>
                We've been a club since <%= createdAt.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %>
            <% } %>
        </li>
        <% if (user.bookClubs.includes(bookclub._id)) { %>

            <div>
                <button type="button" class="clubUpdateBtn btnMain3 btn-primary " data-bs-toggle="modal" data-bs-target="#clubModal">
                    Edit info
                </button>
            </div>
            <% } %>
            <div id='calendar' data-events="<%= JSON.stringify(bookclub.calendar) %>">
              
              <p class="text-center" id="nextEventInfo"></p>
              
             
              <% if (!user.bookClubs.includes(bookclub._id) || bookclub.pendingMembers.includes(user._id)) { %>
              <button id="openEventModal" class="btnMain3" data-bs-toggle="modal" data-bs-target="#eventModal">Add Event</button> <!-- this SHOULD open the modal-->
              <% } %>
              
            
            </div> 
              <script>
              // Parse the event data from the data attribute
              const eventData = JSON.parse(document.getElementById('calendar').getAttribute('data-events'));
      
              // Get the current date and time
              const now = new Date();
      
              // Filter the events that meet your criteria
              const upcomingEvents = eventData.filter(event => {
                  const eventStartTime = new Date(event.start);
                  return eventStartTime > now;
              });
      
              // Sort the upcoming events by start date and time
              upcomingEvents.sort((a, b) => new Date(a.start) - new Date(b.start));
      
              // Select the first event as the next event
              const nextEvent = upcomingEvents[0];
      
              if (nextEvent) {
                  // Access the title and start properties
                  const nextEventTitle = nextEvent.title;
                  const nextEventStartTime = new Date(nextEvent.start);
      
                  // Format the start time (you can use a library like moment.js for better formatting)
                  const formattedStartTime = nextEventStartTime.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });
      
                  // Display the information
                  const nextEventInfo = `The next event is '${nextEventTitle}' at ${formattedStartTime}`;
      
                  // Assuming you have a <p> element with id "nextEventInfo"
                  document.getElementById('nextEventInfo').textContent = nextEventInfo;
              } else {
                  // If there are no upcoming events, you can display a message
                  document.getElementById('nextEventInfo').textContent = "There are no upcoming events.";
              }
          </script>
            

            <!---DATE PICK MODAL-->
            <div class="modal" id="myModal"  aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      
                  <div class="modal-header">
                      <h5 class="modal-title" id="clubModalLabel">Event Details</h5>
                      <button type="button" class="fa-regular fa-xmark"  aria-label="Close"></button>
                  </div>


                  <div class="modal-body">
                      <h3>Event Details</h3>
                          <div id="eventDetails">
                              
                              <div id="eventList">

                              </div>
                              
                          </div>
                         
                  </div>


                  <div class="modal-footer">
                      <button type="button" class=" close btn btn-secondary" id="closeModalBtn" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                      
                  </div>
              


                  </div>
                  </div>
              
             
              </div> 
            

             <!-----add event modal-->
             <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Event maker</h5>
                    
                  <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <span class="close">&times;</span>
                <% if (user.bookClubs.includes(bookclub._id) && !bookclub.pendingMembers.includes(user._id)) { %>
                <h2>Add Event</h2>
                <% } %>
                <form action="/bookclubPage/<%= bookclub._id %>/createEvent" method="POST">
                    <input type="hidden" name="_method" value="PUT">


                    <div class="form-group">
                  <label for="createEventName" class="form-label">Event Name</label>
                  <input type="text" class="form-control" id="createEventName" name="title" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="startDateTime" class="form-label">Start Date and Time</label>
                    <input type="datetime-local" class="form-control datetimepicker" id="startDateTime" name="start" placeholder="Select Start Date and Time">
                  </div>
        
                  <div class="form-group">
                    <label for="endDateTime" class="form-label">End Date and Time</label>
                    <input type="datetime-local" class="form-control datetimepicker" id="endDateTime" name="end" placeholder="Select End Date and Time">
                  </div>

                  <button type="submit">Create Event</button>
               
                </form>
              </div>
              
            </div>
               
               
              </div>
            </div>
            
            <!--edit club modal starts-->
    
            <div class="modal fade" id="clubModal" tabindex="-1" role="dialog" aria-labelledby="clubModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clubModalLabel">Edit info</h5>
                        <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
    
                    <div class="modal-body">
                        <form action="/bookclubPage/<%= bookclub._id %>" method="POST" enctype="multipart/form-data" >
                            <input type="hidden" name="_method" value="PUT">
                       <label for="clubPicUpload" class="form-label">Club Picture</label>
                        <input type="file" class="form-control" id="clubPicUpload" name="clubPic">      <!---   enctype="multipart/form-data"-->
    
                        
                            <label for="nameChange" class="form-label">Name</label>
                            <input type="text" class="form-control" id="clubNameChange" name="name" placeholder="<%= bookclub.name %>">
    
                            <label for="bioChange" class="form-label">Bio</label>
                            <input type="text" class="form-control" id="clubBioChange" name="bio" placeholder="<%= bookclub.desc %>">

                            <label for="urlChange" class="form-label"><span class=" mt-2 fa-brands fa-discord"></span>Discord link</label>
                            <input type="text" class="form-control " id="clubUrlChange" name="Url" placeholder="<%= bookclub.discordURL%>">
                    </div>
    
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                        <button type="submit" class="btn btn-primary" value="Save changes">Save changes</button> 
                    </div>
                    </form>
                    </div>
                </div>
                </div> 
                
                <!--modal ends-->

        </div >
        <div id="pageRight" class="col-md-6  d-flex flex-column  align-items-center text-center">
<!--CURRENT book-->  

                        
                <% if (bookclub.currentBook) { %>
                   <p>We are currently reading:</p> <img  class="bookPreview m-3" src="<%= bookclub.currentBook.cover_image %>" alt=""> <h4><%=bookclub.currentBook.title %></h4>
                   <p>By <%= bookclub.currentBook.author[0] %></p>
                   <% if (bookclub.currentBook.url) { %>
                    <a href="<%=bookclub.currentBook.url%>"><p>Find it here</p></a>
                    <% } %>
                    <% if (bookclub.currentBook.startDate) { %>
                      <p> book started on <%=bookclub.currentBook.startDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' })%></p>
                      <% }%>
                       
                    <% if (user.bookClubs.includes(bookclub._id)) { %>
                      
                    
                       
                            <button type="button" id="addUrl" class="addBookBtn btnMain3 btn-primary " data-bs-toggle="modal" data-bs-target="#addCurrentURL">Edit book info</button>
                            

                            <form action="/bookclubPage/<%= bookclub._id %>/finishBook" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                
                                <button type="submit" name="finishBook" class="btnMain2 btn-primary">Finish Book</button>
                              </form>
                              <% } %>
                            
                            
                              


                                <div class="modal fade" id="addCurrentURL" tabindex="-1" role="dialog" aria-labelledby="currentURLModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="currentURLModalLabel">Edit book info</h5>
                                            <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                       


                                                <div class="modal-body">
                                                    <form action="/bookclubPage/<%= bookclub._id %>/addCurrentLink" method="POST" enctype="multipart/form-data" >
                                                        <input type="hidden" name="_method" value="PUT">
                                 
                                                        <label for="nameChange" class="form-label">Add shopping link</label>
                                                        <input type="text" class="form-control" id="currentBookURL" name="url">


                                                        <label for="bookCoverUpload" class="form-label">Book Cover</label>
                                                             <input type="file" class="form-control" id="bookCoverUpload" name="bookCover">      <!---   enctype="multipart/form-data"-->
                                        
                                                            
                                                                <label for="titleChange" class="form-label">Title</label>
                                                                <input type="text" class="form-control" id="titleChange" name="bookName">
                                        
                                                                <label for="authorChange" class="form-label">Author</label>
                                                                <input type="text" class="form-control" id="authorChange" name="authors" >

                                                               
                                                           </div>


                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                                                    <button type="submit" class="btn btn-primary" value="Save changes">update book </button> 
                                                </div>
                                                </form>

                                        </div>
                                    </div>
                                    </div>
                                   
                                   
                            
                        
                <% } else { %>
                    <div class="my-auto mx-auto text-center">
                        <p class="text-center" >We're not reading anything! </p>
                        <!--add book button starts-->
                        <% if (!user.bookClubs.includes(bookclub._id) && bookclub.pendingMembers.includes(user._id)) { %>
                        <div class="text-center">
                            <button type="button" id="addBook" class="addBookBtn mx-auto btnMain3 btn-primary " data-bs-toggle="modal" data-bs-target="#addBookModal">
                                Add book!
                            </button>
                        </div>
                        <% } %>
                </div>

                <!--add book modal starts-->
        
                <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBookModalLabel">Edit info</h5>
                            <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
        
        
                        <div class="modal-body">
                            <form action="/bookclubPage/<%= bookclub._id %>/addBook" method="POST">
                              <input type="hidden" name="_method" value="PUT">
                              <div class="modal-body">
                                <h1>Book Search</h1>
                                <input type="text" id="search-input" placeholder="Enter book ISBN">
                                <button onclick="searchBooks()">Search</button>
                                <div id="book-info"></div>
                              </div>
                              
                          
                              <!--SCRIPT START-->
                              <script>
                                var isbn; // Declare the isbn variable outside the function scope
                          
                                function searchBooks() {
                                  event.preventDefault();
                          
                                  isbn = document.getElementById('search-input').value.trim(); // Assign the value to the isbn variable
                          
                                  var url = 'https://openlibrary.org/api/books?bibkeys=ISBN:' + encodeURIComponent(isbn) + '&format=json&jscmd=data';
                                  fetch(url)
                                    .then(function (response) {
                                      return response.json();
                                    })
                                    .then(function (data) {
                                      processBooks(data);
                                    })
                                    .catch(function (error) {
                                      console.log('Error:', error);
                                    });
                                }
                          
                                function processBooks(data) {
                                  var bookInfoElement = document.getElementById('book-info');
                                  var submitButton = document.getElementById('addBookButton');
                          
                                  // Check if the response contains book data
                                  if (Object.keys(data).length > 0) {
                                    var bookData = data[Object.keys(data)[0]];
                          
                                    // Extract the desired information
                                    var title = bookData.title;
                                    var authors = bookData.authors.map(function (author) {
                                      return author.name;
                                    });
                                    var editions = bookData.edition_count;
                                    
                                    var num_pages = bookData.number_of_pages;
                                    
                                    var cover_image = bookData.cover ? '<img src="' + bookData.cover.large + '">' : 'N/A';
                                 

                                    // Extract the Amazon ID from the identifiers field
                                    
                          
                                    // Update the book information inside the modal
                                    bookInfoElement.innerHTML = '<p><strong>Title:</strong> ' + title + '</p>' +
                                    
                                      '<p><strong>Authors:</strong> ' + authors.join(', ') + '</p>' +
                                      '<p><strong>Editions:</strong> ' + editions + '</p>' +
                                      '<p><strong>Number of Pages:</strong> ' + num_pages + '</p>' +
                                      '<p><strong>ISBN:</strong> ' + isbn + '</p>' +
                                      
                                      '<p><strong>Cover Image:</strong> <br>' + cover_image + '</p>'+

                                      '<input type="hidden" id="Bauthor" name="author" value="' + authors.join(', ') + '">' +
                                      '<input type="hidden" id="Btitle" name="title" value="' + title + '">' +
                                        '<input type="hidden" id="Bedition" name="num_pages" value=' + num_pages + '>' +
                                        '<input type="hidden" id="Bnum_pages" name="isbn" value=' + isbn + '>' +
                                        
                                        '<input type="hidden" id="Bcover_image" name="cover_image" value=' + (bookData.cover && bookData.cover.large ? bookData.cover.large : 'N/A') + '>' ;



                                      
                                      submitButton.disabled = false; // Enable the submit button

                                    } else {
                                    // Display a message if no book is found
                                    bookInfoElement.innerHTML = 'No book found for the given ISBN.';
                                    submitButton.disabled = true; // Disable the submit button
                                    }
                                    }
                              </script>

                              
                              <!-- SCRIPT END-->
                              
                            </div>
                          
                            <div class="modal-footer" id="addBookFooter">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                              
                                <button type="submit"  id="addBookButton" class="btn btn-primary" value="Save changes">Add as current book</button> 
                               
                             
                               
                              
                            </div>
                          </form>
                          
                        </div>
                <% } %>
                
                </div>
            
            </div>
        </div>
              
        
         <div class="nextBook container-fluid row m-0 p-0">
  <!--Finished books--><div class="col-md-6">
  <div class="m-5 flex-wrap">
    <% if (bookclub.finishedBooks == 0 || null) { %>
      <p class="text-center">We haven't finished any books yet!</p>
    <% } %>
    <% if (bookclub.finishedBooks && bookclub.finishedBooks.length > 0) { %>
      <p class="text-center">Our previous books:</p>
      <div class="finishedContainer p-0 m-0 flex-wrap d-flex justify-content-center">
        
        <% for (let i = 0; i < bookclub.finishedBooks.length; i++) { %>
          <div class="d-flex flex-column mx-3 my-2">
            <img class="thumbnailImg" src="<%= bookclub.finishedBooks[i].cover_image %>" />
            <p class="text-center" style="font-size: 0.8em;"><%= bookclub.finishedBooks[i].title %></p>
            <% if (bookclub.finishedBooks[i].finishDate) { %>
              <p class="text-center">Finished on <%= bookclub.finishedBooks[i].finishDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %></p>
            <% } %>
            
          </div>
          
        <% } %>
      </div>
    <% } %>
  </div>

</div>

<!--next book--> <div class="col-md-6 mt-5 text-center d-flex flex-column align-content-center">

    <% if (bookclub.nextBook) { %>
        <p>Our next Book:</p>
        <img class="bookPreview" src="<%= bookclub.nextBook.cover_image %>" alt=""> <%= bookclub.nextBook.title %>
        <p>By <%= bookclub.nextBook.author %> </p>
        
        <% if (bookclub.nextBook.url) { %>
            <a  class='' href="<%=bookclub.nextBook.url%>"><p>Find it here</p></a>
            <% } %>
            <% if (user.bookClubs.includes(bookclub._id)) { %>
                
                    <button type="button" id="addBook" class=" mx-auto btnMain3 btn-primary" data-bs-toggle="modal" data-bs-target="#addNextURL">Edit book info</button>
                
                <% } %>


                    <div class="modal fade" id="addNextURL" tabindex="-1" role="dialog" aria-labelledby="nextURLModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="nextURLModalLabel">Edit book</h5>
                                <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                                    <div class="modal-body">
                                        <form action="/bookclubPage/<%= bookclub._id %>/addNextLink" method="POST" >
                                            <input type="hidden" name="_method" value="PUT">
                     
                                            <label for="nameChange" class="form-label">Add a shopping link</label>
                                            <input type="text" class="form-control" id="nextBookURL" name="url">

                                            <label for="bookCoverUpload" class="form-label">Book Cover</label>
                                            <input type="file" class="form-control" id="bookCoverUpload" name="bookCover">      <!---   enctype="multipart/form-data"-->
                       
                                           
                                               <label for="titleChange" class="form-label">Title</label>
                                               <input type="text" class="form-control" id="titleChange" name="bookName">
                       
                                               <label for="authorChange" class="form-label">Author</label>
                                               <input type="text" class="form-control" id="authorChange" name="authors" >

                                    </div>


                                    <div class="modal-footer">
                                      <button type="button" value="delteBook" class="btnMain2" data-bs-dismiss="modal">Delete Book  </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                                        <button type="submit" class="btn btn-primary" value="Save changes">update next book</button> 
                                    </div>
                                    </form>

                            </div>
                        </div>
                        </div>
                        
                    
                
    <% } else  { %>
        We dont have anything lined up!
        <!--edit club modal starts-->
        <% if (user.bookClubs.includes(bookclub._id) && bookclub.currentBook) { %>
        <div>
          <button type="button" id="addNextBook" class="addNextBookBtn btnMain3 btn-primary " data-bs-toggle="modal" data-bs-target="#addNextBookModal">
              Add next book!
          </button>
      </div>
      <% } %>
      <!--edit club modal starts-->

      <div class="modal fade" id="addNextBookModal" tabindex="-1" role="dialog" aria-labelledby="addNextBookModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addNextBookModalLabel">Edit info</h5>
                  <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>


              <div class="modal-body">
                  <form action="/bookclubPage/<%= bookclub._id %>/addNextBook" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="modal-body">
                      <h1>Book Search</h1>
                      <input type="text" id="search-input" placeholder="Enter book ISBN">
                      <button onclick="searchBooks()">Search</button>
                      <div id="book-info"></div>
                    </div>
                    
                
                    <!--SCRIPT START-->
                    <script>
                      var isbn; // Declare the isbn variable outside the function scope
                
                      function searchBooks() {
                        event.preventDefault();
                
                        isbn = document.getElementById('search-input').value.trim(); // Assign the value to the isbn variable
                
                        var url = 'https://openlibrary.org/api/books?bibkeys=ISBN:' + encodeURIComponent(isbn) + '&format=json&jscmd=data';
                        fetch(url)
                          .then(function (response) {
                            return response.json();
                          })
                          .then(function (data) {
                            processBooks(data);
                          })
                          .catch(function (error) {
                            console.log('Error:', error);
                          });
                      }
                
                      function processBooks(data) {
                        var bookInfoElement = document.getElementById('book-info');
                        var submitButton = document.getElementById('addNextBookButton');
                
                        // Check if the response contains book data
                        if (Object.keys(data).length > 0) {
                          var bookData = data[Object.keys(data)[0]];
                
                          // Extract the desired information
                          var title = bookData.title;
                          var authors = bookData.authors.map(function (author) {
                            return author.name;
                          });
                          var editions = bookData.edition_count;
                          
                          var num_pages = bookData.number_of_pages;
                          
                          var cover_image = bookData.cover ? '<img src="' + bookData.cover.large + '">' : 'N/A';
                       

                          // Extract the Amazon ID from the identifiers field
                          
                
                          // Update the book information inside the modal
                          bookInfoElement.innerHTML = '<p><strong>Title:</strong> ' + title + '</p>' +
                          
                            '<p><strong>Authors:</strong> ' + authors.join(', ') + '</p>' +
                            '<p><strong>Editions:</strong> ' + editions + '</p>' +
                            '<p><strong>Number of Pages:</strong> ' + num_pages + '</p>' +
                            '<p><strong>ISBN:</strong> ' + isbn + '</p>' +
                            
                            '<p><strong>Cover Image:</strong> <br>' + cover_image + '</p>'+

                            '<input type="hidden" id="Bauthor" name="author" value="' + authors.join(', ') + '">' +
                            '<input type="hidden" id="Btitle" name="title" value="' + title + '">' +
                              '<input type="hidden" id="Bedition" name="num_pages" value=' + num_pages + '>' +
                              '<input type="hidden" id="Bnum_pages" name="isbn" value=' + isbn + '>' +
                              
                              '<input type="hidden" id="Bcover_image" name="cover_image" value=' + (bookData.cover && bookData.cover.large ? bookData.cover.large : 'N/A') + '>' ;



                            
                              addNextBookButton.disabled = false; // Enable the submit button

                          } else {
                          // Display a message if no book is found
                          bookInfoElement.innerHTML = 'No book found for the given ISBN.';
                          addNextBookButton.disabled = true; // Disable the submit button
                          }
                          }
                    </script>

                    
                    <!-- SCRIPT END-->
                    
                  </div>
                
                  <div class="modal-footer" id="addNextBookFooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                    
                      <button type="submit"  id="addNextBookButton" class="btn btn-primary" value="Save changes" disabled>Add as next book</button> 
                     
                   
                     
                    
                  </div>
                </form>
                
              </div>
      <% } %>
    </div>

 </div>

</div>



</div>


            

        </ul>

    
       <div  class=" container-fluid m-0  p-0 row align-items-center justify-items-center"  style="margin-bottom: 10em;height: 100%;" id="bookClubButtonsGroup">

        <div class="col-md-6 d-flex justify-content-center align-items-center">
        <!--  BUTTONS-->
        <% if (!user.bookClubs.includes(bookclub._id) && !bookclub.pendingMembers.includes(user._id)) { %>
        <form action="/bookclubPage/<%= bookclub._id %>/join" method="POST">
            <button type="submit" class="btnMain3 btn-primary">Join  Club</button>
          </form>
          <% } %>
        
            <a class="btnMain3 btn-primary"  href="/bookclubs">Back to club list</a>
        
        
        
        
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <% if (user.bookClubs.includes(bookclub._id)) { %>
            <form action="/bookclubPage/<%= bookclub._id %>/leave" method="POST">
                <button type="submit" class="btnMain2 btn-danger">Leave Club</button>
              </form>
              <% } %>
            </div>

            

       </div>
       
       <!--  BUTTON END-->



        

      
  
  


<%- include ('partials/footer.ejs') %>


<!---New USER LIST-->

<!---<li>
    <%=// bookclub.members ? 'Members: ' : 'No members yet!' %>
    <%// if (bookclub.members && bookclub.members.length > 0) { %>
      <%// for (let i = 0; i < bookclub.members.length; i++) { %>
        <%// if (bookclub.members[i]._id.toString() === user._id.toString()) { %>
          <%=// user.name %>
        <%// } else { %>
          <a href="/profileView/<%=// bookclub.members[i]._id %>"><%=// bookclub.members[i].name %></a>
          <%// if (i < bookclub.members.length - 1) { %>
            ,
          <%// } %>
        <%// } %>
      <%// } %>
    <%// } %>
  </li> --->


<!---OLD USER LIST-->
 <!--- <li>
    <%=// bookclub.members ? 'Members: ' : 'No members yet!' %>
    <%// if (bookclub.members && bookclub.members.length > 0) { %>
      <%// for (let i = 0; i < bookclub.members.length; i++) { %>
        <a href="/profileView/<%=// bookclub.members[i]._id %>"><%=// bookclub.members[i].name %></a>
        <% //if (i < bookclub.members.length - 1) { %>
          ,
        <%// } %>
      <%// } %>
    <%// } %>
  </li> -->
