<%- include('partials/header.ejs') %>


<section id="banner" class="d-flex justify-content-center align-content-center" style="background-image: url('/public/images/login.jpg'); height: 13em;position: relative;">
    <div class="overlay" style="height: 13em;"></div>
        
        <div class="content-container mx-auto my-auto" style="position: relative; z-index: 3;">
            <h1 class="text-center mx-auto my-auto" style="color: #FBFBFB;;">Find the right bookclub for you!</h1>
        </div>
                        
    </section>
    <div>
            <h2 class="text-center my-5">Available clubs:</h2>
            <div class="container">
            <ul style="width: 80vw;">
                <% for( let i = 0; i < bookClubs.length; i++ ) { %>
                    <li class="<%= i % 2 === 0 ? 'even-background' : '' %> clubListLi " style="display: flex; align-items: center;;">
                    <a class="col-6" href="/bookclubPage/<%= bookClubs[i]._id %>" style=" display: flex; align-items: center;">
                        <img class="clubPicMini" src="<%= bookClubs[i].clubPic %>" style="object-fit: fill;">
                        <p class="pl-2 my-auto clubListName" style=" font-size: 1.5em;"><%= bookClubs[i].name %></p>
                    </a>
                    
                     <p  class=" col-3  pl-5 my-auto clubMemberList" style=" float: end;">Members: <%= bookClubs[i].members.length %></p> 
                     <p id="listName" class=" pl-2 pr-3 my-auto clubListName"> 
                        <% if (bookClubs[i].currentBook) { %>
                            <%= bookClubs[i].currentBook.title %>
                          <% } else { %>
                            <span class="no-current-book">No Current Book</span>
                          <% } %>
                    </p>
                        
                    </li>
                
                <% } %>
            </ul>
        </div>



            <div class="text-center my-5">
                <button type="button" class="createClub btnMain2 " data-bs-toggle="modal" data-bs-target="#clubModal">
                    Create new club
                </button>
            </div>
                <!--MODAL-->
            <div class="modal fade" id="clubModal" tabindex="-1" role="dialog" aria-labelledby="clubModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clubModalLabel">Create a new book club</h5>
                    <button type="button" class="fa-regular fa-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">
                    <form action="/bookclubs" method="POST" >
                    <label for="imgUpload" class="form-label">Book Club Photo</label>
                    <input type="file" class="form-control" id="imageUpload" name="clubPic">

                    
                        <label for="nameChange" class="form-label">Club Name</label>
                        <input type="text" class="form-control" id="nameChange" name="clubName">

                        <label for="nameChange" class="form-label">Bio</label>
                        <input type="text" class="form-control" id="nameChange" name="bio">


                        
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                    <button type="submit" class="btn btn-primary" value="save changes">Save changes</button> 
                </div>
                </form>
                </div>
            </div>
            </div> 



</div>




<%- include ('partials/footer.ejs') %>

