<%- include('partials/header') -%>
<div class="container-fluid bg-white headerGap " style="padding: 0;">
  <div class="row p-0 m-0 d-flex align-items-center justify-content-center" style="min-height: 500px; width: 100vw;">
      <div class="col-12 p-0">
          <div class="mt-5 mb-5">
            <div class="mb-3 d-flex flex-column  align-items-center text-center">
                

                 <img  class="profPic" src="<%= user.profilePic %>">
                
                <h1><%= user.name %></h1>
                
                <p>currently reading: <%=user.currentBooks.title %>
                    <ul>
                        <% for( let i = 0; i < user.currentBooks.length; i++ ) { %>
                    
                         <li><%= user.currentBooks[i].title  %> </a></li>
                         <% } %>
                        </ul></p>
             <p><% if (!user.bookClubs) { %> <!--clubs-->
                    <div>
                        <a href="/bookclubs" class="btn btn-danger"> join a club, nerd</a>
                    </div>
                 
                <% }else { %><p>I am a member of:</p>
                    <ul>
                    <% for( let i = 0; i < user.bookClubs.length; i++ ) { %>
                
                     <li class=" clubList"><a href="/bookclubPage/<%= user.bookClubs[i]._id %>"><%= user.bookClubs[i].name  %> </a></li>
                     <% } %>
                     <% } %>
                    </ul>
                </p>
                
                <p>user since: <%= user.joinDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %></p>



                <% if (!user.finishedBooks) { %> <!--finsihed books-->
                    <div>
                        <p> No finished books yet!</p>
                    </div>
                    <div class="finishedContainer p-0 m-0 flex-wrap d-flex justify-content-center">
                 
                <% }else { %> <p class="text-center">finished books:</p>
                    <ul class="bookList">
                    <% for( let i = 0; i < user.finishedBooks.length; i++ ) { %>
                        <div class="d-flex flex-column mx-3 my-2 thumbnailImgDiv">
                            <img class="thumbnailImg" src="<%= user.finishedBooks[i].cover_image %>" />
                            <p class="text-center" style="font-size: 0.8em;"><%= user.finishedBooks[i].title %></p>
                          </div>
                          <% if ((i + 1) % 3 === 0) { %>
                            </div><div class="finishedContainer p-0 m-0 flex-wrap d-flex justify-content-center">
                          <% } %>
                          <%}%>
                        <%}%>
                        </div>
                        
                          
                        
                               

                <% if (user){ %>

                            <div class="text-center">
                                <button type="button" class="profileUpdateBtn btnMain3 btn-primary text-center" data-bs-toggle="modal" data-bs-target="#profileModal">
                                    Edit info
                                </button>
                            </div>
                            <div class=" text-center">
                                <a href="/logout" class="btnMain2 btn-danger text-nowrap">logout</a>
                            </div>
                            
                                <!--MODAL-->
                            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="profileModalLabel">Edit info</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>


                                <div class="modal-body">
                                    <form action="/user/profile/<%= user._id %>" method="POST" enctype="multipart/form-data"  >
                                        <input type="hidden" name="_method" value="PUT">
                                   <label for="imgUpload" class="form-label">Profile Picture</label>
                                    <input type="file" class="form-control" id="imageUpload" name="profilePic">      <!---   enctype="multipart/form-data"-->

                                    
                                        <label for="nameChange" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="nameChange" name="name">

                                        <label for="bioChange" class="form-label">Bio</label>
                                        <input type="text" class="form-control" id="bioChange" name="bio">
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                                    <button type="submit" class="btn btn-primary" value="Save changes">Save changes</button> 
                                </div>
                                </form>

                             







                                </div>
                            </div>
                            </div> 

                    <% } %>
             
            

            <!----------!profPic end----------->
            
            
               


          </div>

            </div>
            
                  
          <!------------->
      </div>
      
  </div>
</div>

<%- include ('partials/footer.ejs') %>




<!-- USE FOR UPLOAD REFERNCE
    <h2>Add a post</h2>
<form action="/post/createPost" enctype="multipart/form-data" method="POST">
  <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="mb-3">
    <label for="caption" class="form-label">Caption</label>
    <textarea class="form-control" id="caption" name="caption"></textarea>
  </div>
  <div class="mb-3">
    <label for="imgUpload" class="form-label">Image</label>
    <input type="file" class="form-control" id="imageUpload" name="file">
  </div>
  <button type="submit" class="btn btn-primary" value="Upload">Submit</button>

-->
