<%- include('partials/header') -%>
<div class="container-fluid bg-white headerGap" style="padding: 0; margin-bottom: 5em;">
  <div class="row p-0 m-0" style="min-height: 500px; width: 100vw;">
      <div class="col-6 p-0 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <div class="mt-5 mb-5">
                <div class="mb-3">
                <img  class="profPic" src='<%= member.profilePic %>'>
                
                <h1><%= member.name %></h1>
                <h5><%= member.bio %></h5>
                <p>user since: <%= member.joinDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %></p>
                </div>
            </div>
        </div>
    </div>


          <!--break-->
          <div class="col-6 p-0">
            <div class="mt-5 mb-5">
              <div class="mb-3 d-flex flex-column">
                
                <p><strong>currently reading: </strong></p>
                    <ul>
                        <% for( let i = 0; i < member.currentBooks.length; i++ ) { %>
                    
                         <li><%= member.currentBooks[i].title  %> </a></li>
                         <% } %>
                        </ul>
                <p><% if (!member.bookClubs) { %>
                    <div>
                        <a href="/bookclubs" class="btn btn-danger"> join a club!</a>
                    </div>
                 
                <% }else { %><strong>these are my clubs:</strong> 
                    <ul>
                    <% for( let i = 0; i < member.bookClubs.length; i++ ) { %>
                
                     <li class=" clubList"><a href="/bookclubPage/<%= member.bookClubs[i]._id %>"><%= member.bookClubs[i].name  %> </a></li>
                     <% } %>
                     <% } %>
                    </ul>
                </p>

              
                
                

            

            <!----------profPic end----------->
            
            
               


          </div>

            </div>
            </div>
            </div>
            
            
            
                  
          <!------------->
      
      <div class="row p-0 m-0 bg bg-light" style="width: 100vw;">
        <div class="col-12 p-0 m-0 bg bg-light">

            <% if (!member.finishedBooks) { %> <!--finsihed books-->
                <div>
                    <p><strong>No finished books yet!</strong> </p>
                </div>
                <div class="finishedContainer finishedBooksContainer p-0 m-0 flex-wrap d-flex justify-content-center">
             
            <% }else { %> <p class="text-center"><strong>Finished books:</strong> </p>
                <ul class="bookList bg bg-light">
                    <% for( let i = 0; i < Math.min(9, member.finishedBooks.length); i++ ) { %>
                        <div class="d-flex flex-column mx-3 my-2 thumbnailImgDiv <%= i > 8 ? 'hide-books' : '' %>">
                            <img class="thumbnailImg" src="<%= member.finishedBooks[i].cover_image %>" />
                            <p class="text-center" style="font-size: 0.8em;"><%= member.finishedBooks[i].title %></p>
                        </div>
                    <% } %>
                      
                    <%}%>
                    </div>
                    </div>

                  
                    

        </div>
        </div><% if(member.finishedBooks.length > 9 ) {%>
        <button  class="btnMain3" id="loadMoreButton">Load More</button>
        <% } %>

    </div>
    <script>
           const finishedBooksContainer = document.getElementById('finishedBooksContainer');
    const loadMoreButton = document.getElementById('loadMoreButton');

    let visibleBooks = 9; 
    const totalBooks =  member.finishedBooks.length  

    loadMoreButton.addEventListener('click', () => {
        visibleBooks += 9; 
        showBooks();
    });

    function showBooks() {
        const books = finishedBooksContainer.children;
        for (let i = 0; i < books.length; i++) {
            if (i < visibleBooks) {
                books[i].classList.remove('hide-books');
            } else {
                books[i].classList.add('hide-books');
            }
        }

        if (visibleBooks >= totalBooks) {
            loadMoreButton.style.display = 'none';
        }
    }

    // Initial display
    showBooks();
    </script>
      
      
      
  


<%- include ('partials/footer.ejs') %>
