<%- include('partials/header') -%>
<div class="container-fluid bg-white headerGap" style="padding: 0; margin-bottom: 5em;">
  <div class="row p-0 m-0" style="min-height: 500px; width: 100vw;">
      <div class="col-6 p-0 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <div class="mt-5 mb-5">
                <div class="mb-3">
                <img  class="profPic" src='<%= user.profilePic %>'>
                
                <h1><%= user.name %></h1>
                <p>user since: <%= user.joinDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %></p>
                </div>
            </div>
        </div>
    </div>


          <!--break-->
          <div class="col-6 p-0">
            <div class="mt-5 mb-5">
              <div class="mb-3 d-flex flex-column">
                
                <p>currently reading: <%=user.currentBooks.title %>
                    <ul>
                        <% for( let i = 0; i < user.currentBooks.length; i++ ) { %>
                    
                         <li><%= user.currentBooks[i].title  %> </a></li>
                         <% } %>
                        </ul></p>
                <p><% if (!user.bookClubs) { %>
                    <div>
                        <a href="/bookclubs" class="btn btn-danger"> join a club, nerd</a>
                    </div>
                 
                <% }else { %>these are my clubs: 
                    <ul>
                    <% for( let i = 0; i < user.bookClubs.length; i++ ) { %>
                
                     <li class=" clubList"><a href="/bookclubPage/<%= user.bookClubs[i]._id %>"><%= user.bookClubs[i].name  %> </a></li>
                     <% } %>
                     <% } %>
                    </ul>
                </p>

              
                
                

            

            <!----------profPic end----------->
            
            
               


          </div>

            </div>
            </div>
            </div>
            
            
            
                  
          <!------------->
      
      <div class="row p-0 m-0 bg bg-light" style="width: 100vw;">
        <div class="col-12 p-0 m-0 bg bg-secondary">

            <% if (!user.finishedBooks) { %> <!--finsihed books-->
                <div>
                    <p> No finished books yet!</p>
                </div>
                <div class="finishedContainer p-0 m-0 flex-wrap d-flex justify-content-center">
             
            <% }else { %> <p class="text-center">Finished books:</p>
                <ul class="bookList bg bg-secondary">
                <% for( let i = 0; i < user.finishedBooks.length; i++ ) { %>
                    <div class="d-flex flex-column mx-3 my-2 thumbnailImgDiv">
                        <img class="thumbnailImg" src="<%= user.finishedBooks[i].cover_image %>" />
                        <p class="text-center" style="font-size: 0.8em;"><%= user.finishedBooks[i].title %></p>
                      </div>
                    
                      <%}%>
                    <%}%>
                    </div>
                    </div>

        </div>
        </div>

    </div>
      
      
      
  


<%- include ('partials/footer.ejs') %>
