<%- include('partials/header') -%>
<div class="container-fluid bg-white headerGap " style="padding: 0;">
  <div class="row p-0 m-0 d-flex align-items-center justify-content-center" style="min-height: 500px; width: 100vw;">
      <div class="col-12 p-0">
          <div class="mt-5 mb-5">
            <div class="mb-3 d-flex flex-column  align-items-center text-center">
                

                 <img  class="profPic" src='<%= user.profilePic %>'>
                
                <p><%= user.name %></p>
                
                <p>currently reading: <%=user.currentBooks.title %>
                    <ul>
                        <% for( let i = 0; i < user.currentBooks.length; i++ ) { %>
                    
                         <li><%= user.currentBooks[i].title  %> </a></li>
                         <% } %>
                        </ul></p>
             <p><% if (!user.bookClubs) { %> <!--clubs-->
                    <div>
                        <a href="/bookclubs" class="btn btn-danger"> join a club, nerd</a>
                    </div>
                 
                <% }else { %>these are my clubs: 
                    <ul>
                    <% for( let i = 0; i < user.bookClubs.length; i++ ) { %>
                
                     <li class=" clubList"><a href="/bookclubPage/<%= user.bookClubs[i]._id %>"><%= user.bookClubs[i].name  %> </a></li>
                     <% } %>
                     <% } %>
                    </ul>
                </p>
                
                <p>user since: <%= user.joinDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) %></p>



                 <p><% if (!user.finishedBooks) { %> <!--finsihed books-->
                    <div>
                        <a href="/bookclubs" class="btn btn-danger"> I havent finished reading anything yet!</a>
                    </div>
                 
                <% }else { %> finished books: 
                    <ul>
                    <% for( let i = 0; i < user.finishedBooks.length; i++ ) { %>
                
                     <li class="clubList"><%= user.finishedBooks[i].title  %></li>
                     <% } %>
                     <% } %>
                    </ul>
                </p>

                <% if (user){ %>

                            <div>
                                <button type="button" class="profileUpdateBtn btn btn-primary " data-bs-toggle="modal" data-bs-target="#profileModal">
                                    edit info
                                </button>
                            </div>
                                <!--MODAL-->
                            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="profileModalLabel">Edit info</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>


                                <div class="modal-body">
                                    <form action="/user/profile/<%= user._id %>" method="POST" >
                                        <input type="hidden" name="_method" value="PUT">
                                   <label for="imgUpload" class="form-label">Profile Picture</label>
                                    <input type="file" class="form-control" id="imageUpload" name="profilePic">      <!---   enctype="multipart/form-data"-->

                                    
                                        <label for="nameChange" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="nameChange" name="name">

                                        <label for="bioChange" class="form-label">Bio</label>
                                        <input type="text" class="form-control" id="bioChange" name="bio">
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <span aria-hidden="true">&times;</span> </button>
                                    <button type="submit" class="btn btn-primary" value="Save changes">Save changes</button> 
                                </div>
                                </form>

                             







                                </div>
                            </div>
                            </div> 

                    <% } %>
             
            

            <!----------profPic end----------->
            
            
               


          </div>

            </div>
            
                  
          <!------------->
      </div>
      
  </div>
</div>

<%- include ('partials/footer.ejs') %>
